<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Branches</title>
		<meta charset="utf-8">
		<style>
			select, input {
				display:block;
			}
		</style>
	</head>
	<body>
		<main>
      <a href="/">Home</a>
      <section>
        <h2>Family Bank</h2>
        <ul>
          <li>Language: <%= branch.language %></li>
          <li>Time Zone: <%= branch.timezone %></li>
          <li>Currency: <%= branch.currency %></li>
          <li>Reserve: <%= branch.reserve %></li>
          <li>Fund: <%= branch.fund %></li>
          <li>Savings: <%= branch.savings %></li>
          <li>Loans: <%= branch.loans %></li>
          <li>Status: <%= branch.status %></li>
        </ul>
      </section>
			<h2>Interest Rates</h2>
				<ul>
					<li>Savings: <%= branch.rate.savings*100 %>&#37;</li>
					<li>Loans: <%= branch.rate.loans*100 %>&#37;</li>
				</ul>
				<form method="POST" action="/branches">
					<select name="interest">
						<option value="savings" selected>Savings</option>
						<option value="loans">Loans</option>
					</select>
					<input type="number" name="rate" placeholder="Percentage Rate" min="0">
					<input type="submit" value="Change">
				</form>
		</section>
      <section>
        <h2>Customers</h2>
        <% branch.customers.forEach(customer => { %>
          <ul>
            <!--<li>ID: <%= customer.id %></li>-->
            <li>Role: <%= customer.role %></li>
            <li>Username: <%= customer.username %></li>
            <li>Balance: <%= customer.balance %></li>
            <li>Status: <%= customer.status %></li>
          </ul>
        <% }) %>
      </section>
		</main>
		<script>

    </script>
	</body>
</html>
