<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Payments</title>
		<meta charset="utf-8">
		<style>
      input, textarea {
        display:block;
      }
		</style>
	</head>
	<body>
		<main>
      <a href="/">Home</a>
      <section>
        <h2>Post Payment</h2>
        <form method="POST" action="/payments">
					<select name="command">
            <option value="charge" selected>Charge</option>
            <option value="refund">Refund</option>
          </select>
          <input type="number" name="amount" placeholder="Bitcoin Amount" step="0.00000001" min="0">
          <textarea placeholder="Description" name="description"></textarea>
	        <input type="submit" value="Submit">
	      </form>
      </section>
      <section>
        <h2>Payments</h2>
        <% payments.forEach(payment => { %>
          <ul>
            <li>ID: <%= payment.id %></li>
            <li><%= payment.date %> <%= payment.time %> (<%= payment.timezone %>)</li>
            <li>Branch ID: <%= payment.branch %></li>
            <li>Customer ID: <%= payment.customer %></li>
            <li>User ID: <%= payment.user %></li>
            <li>Amount: <%= payment.amount %> BTC</li>
            <li>Fee: <%= payment.fee %></li>
            <li>description: <%= payment.description %></li>
            <li>Status: <%= payment.status %></li>
						<% if (payment.status === 'pending') { %>
            	<li><a href="/payments/<%= payment.id %>">Resend Code</a></li>
              <form method="POST" action="/payments/<%= payment.id %>">
                <input type="number" name="code" placeholder="Auth Code">
      	        <input type="submit" value="Process Payment">
      	      </form>
						<% } %>
          </ul>
        <% }) %>
      </section>
		</main>
		<script>

    </script>
	</body>
</html>
