<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Recurrences</title>
		<meta charset="utf-8">
		<style>
      select, input, textarea {
        display:block;
      }
      input[type="checkbox"] {
        display:inline;
      }
      img {
        height:100px;
        display:block;
      }
		</style>
	</head>
	<body>
		<main>
      <a href="/">Home</a>
      <% if (query.image) { %>
        <img src="<%= query.image %>">
      <% } %>
      <section>
        <h2>Post via Transaction: <%= query.id %></h2>
        <form method="POST" action="/recurrences/transaction" enctype="multipart/form-data">
          <input type="hidden" name="id" value="<%= query.id %>">
          <select name="cycle">
            <option value="Daily">Daily</option>
            <option value="Weekly">Weekly</option>
            <option value="Monthly" selected>Monthly</option>
            <option value="Yearly">Yearly</option>
          </select>
          <input type="date" name="date" placeholder="Start Date" value="<%= query.start ? (new Date(parseInt(query.start))).toISOString().substring(0, 10) : null %>">
          <input type="time" name="time" placeholder="Start Time" value="<%= query.start ? (new Date(parseInt(query.start))).toISOString().substring(11, 16) : null %>">
          <select name="command">
            <option value="deposit">Deposit</option>
            <option value="withdraw">Withdraw</option>
            <option value="give" selected>Give</option>
            <option value="take">Take</option>
            <option value="reward">Reward</option>
            <option value="donate">Donate</option>
          </select>
          <input type="text" name="to" placeholder="To">
          Anonymity: <input type="checkbox" name="anonymity">
          <input type="text" name="currency" value="USD">
          <input type="number" name="amount" placeholder="Amount">
	        <textarea placeholder="Description" name="description"></textarea>
          <input type="file" name="media" size="1">
	        <input type="submit" value="Submit">
	      </form>
      </section>
      <section>
        <h2>Post via Message: <%= query.id %></h2>
        <form method="POST" action="/recurrences/message" enctype="multipart/form-data">
          <input type="hidden" name="id" value="<%= query.id %>">
          <select name="cycle">
            <option value="Daily">Daily</option>
            <option value="Weekly">Weekly</option>
            <option value="Monthly" selected>Monthly</option>
            <option value="Yearly">Yearly</option>
          </select>
          <input type="date" name="date" placeholder="Start Date" value="<%= query.start ? (new Date(parseInt(query.start))).toISOString().substring(0, 10) : null %>">
          <input type="time" name="time" placeholder="Start Time" value="<%= query.start ? (new Date(parseInt(query.start))).toISOString().substring(11, 16) : null %>">
	        <textarea placeholder="Transaction Message" name="message"><%= query.command %></textarea>
          <input type="file" name="media" size="1">
	        <input type="submit" value="Submit">
	      </form>
      </section>
      <section>
        <h2>Recurrences</h2>
        <% recurrences.forEach(recurrence => { %>
          <ul>
            <li>ID: <%= recurrence.id %></li>
            <li><%= recurrence.cycle %> @ <%= recurrence.date %> <%= recurrence.time %> (<%= recurrence.timezone %>)</li>
            <li>Command: <%- recurrence.command %></li>
            <li><a href="/recurrences?id=<%= recurrence.id %>&cycle=<%= recurrence.cycle %>&start=<%= recurrence.datetime %>&command=<%= recurrence.command %>&image=<%= recurrence.image %>">Edit</a></li>
            <li><a href="/recurrences/<%= recurrence.id %>">Delete</a></li>
          </ul>
          <img src="<%= recurrence.image %>">
        <% }) %>
      </section>
		</main>
		<script>

    </script>
	</body>
</html>
