<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Users</title>
		<meta charset="utf-8">
		<style>
			img {
				height: 200px;
			}
			select, input, textarea {
        display:block;
      }
		</style>
	</head>
	<body>
		<main>
      <a href="/">Home</a>
      <section>
        <h2>Connected User</h2>
        <ul>
          <li>Mobile Number: <%= user.number %></li>
          <li>Language: <%= user.language %></li>
          <li>Time Zone: <%= user.timezone %></li>
          <li>Manager's Branch ID: <%= user.branch %></li>
          <li>Status: <%= user.status %></li>
        </ul>
      </section>
      <section>
        <h2>Bitcoin Wallet</h2>
        <ul>
          <li>Currency: <%= user.currency %></li>
          <li>Balance: <%= user.wallet.BTC %> (<%= user.wallet.USD %>)</li>
          <li>Address: <%= user.wallet.address %></li>
					<li><a href="/users/<%= user.id %>">Get New Address</a></li>
        </ul>
        <img src="<%= user.wallet.qr %>">
				<form method="POST" action="/put">
					<input type="text" name="webhook" placeholder="Webhook" value="<%= user.webhook %>">
					<input type="submit" value="Change Webhook">
				</form>
      </section>
			<section>
        <h2>Send Bitcoins</h2>
					<form method="POST" action="/users/<%= user.id %>">
						<input type="text" name="address" placeholder="Address">
	          <input type="number" name="amount" placeholder="Amount" step="0.0001" min="0.0001">
		        <textarea placeholder="Description" name="description"></textarea>
						<input type="number" name="pin" placeholder="Pin" min="0">
		        <input type="submit" value="Send">
	      	</form>
      </section>
			<section>
        <h2>Schedule Withdraws</h2>
					<form method="POST" action="/put/<%= user.id %>">
						<select name="cycle">
							<option value="daily" <% if (user.withdraw.cycle === 'daily') { %>selected<% } %>>Daily</option>
	            <option value="weekly" <% if (user.withdraw.cycle === 'weekly') { %>selected<% } %>>Weekly</option>
	            <option value="monthly" <% if (user.withdraw.cycle === 'monthly') { %>selected<% } %>>Monthly</option>
	            <option value="yearly" <% if (user.withdraw.cycle === 'yearly') { %>selected<% } %>>Yearly</option>
							<option value="stop" <% if (!user.withdraw.cycle) { %>selected<% } %>>Stop</option>
	          </select>
						<input type="text" name="address" placeholder="Address" value="<%= user.withdraw.address %>">
						<input type="number" name="pin" placeholder="Pin" min="0">
		        <input type="submit" value="Change">
	      	</form>
      </section>
			<section>
        <h2>Verify Signed Message</h2>
				<form id="verify">
      		<input type="text" name="address" placeholder="Address">
					<textarea placeholder="Message" name="message"></textarea>
					<input type="text" name="signature" placeholder="Signature">
	      	<input type="button" value="Verify" onclick="verify()">
					<span id="result"></span>
				</form>
      </section>
			<section>
        <h2>Transactions</h2>
        <% user.transactions.forEach(transaction => { %>
          <ul>
            <li><%= transaction.date %></li>
            <li>Amount: <%= transaction.amount.BTC %> BTC (<%= transaction.amount.USD %> USD)</li>
            <li>Description: <%- transaction.description %></li>
						<li>Status: <%= transaction.status %></li>
						<li>Hash: <%= transaction.hash %></li>
						<li><a href="<%= transaction.blockchain %>">Blockchain</a></li>
          </ul>
        <% }) %>
      </section>
		</main>
		<script>
			const verify = () => {
				fetch('/users', {credentials:'same-origin', method:'post', body:new FormData(document.getElementById('verify'))})
				.then(response => {
					return response.json();
				})
				.then(data => {
					document.getElementById('result').innerHTML = data.result;
				})
				.catch(error => {
					console.error(error);
				});
			}
    </script>
	</body>
</html>
